*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title-1, .title-2, .title-3{
    padding: 15px;
    font-family: 'Big Shoulders Display', cursive;
    color: white;
}

.cards{
    display: flex;
    align-items: center; 
    justify-content: center;
}

.card-1{
    background-color: hsl(31, 77%, 52%);
    padding: 10px;
    border-radius: 6px 0 0 6px;
    width: 290px;
}

.card-2{
    background-color: hsl(184, 100%, 22%);
    padding: 10px;
    width: 290px;
}

.card-3{
    background-color: hsl(179, 100%, 13%);
    padding: 10px;
    border-radius: 0 6px 6px 0;
    width: 290px;
}

p{
    color:hsla(0, 0%, 100%, 0.75);
    padding: 20px;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

img{
    padding: 20px;
}

button{
    display: inline-block;
    margin-left: 40px;
    background-color: white;
    border-radius: 40px;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    border: 2px solid hsl(0, 0%, 95%);
    width: 130px;
    transition: all .3s ease-in-out;
}

.btn-1{
   color: hsl(31, 77%, 52%);
   margin-top: 50px;
   margin-bottom: 30px;
   font-family: 'Lexend Deca', sans-serif;
}

.btn-2{
    color: hsl(184, 100%, 22%);
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Lexend Deca', sans-serif;
}

.btn-3{
    color: hsl(179, 100%, 13%);
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Lexend Deca', sans-serif;
}

button:hover{
    background-color:transparent;
    color: white;
    
  }
  
@media screen and (max-width: 580px) {
    .cards {
      flex-wrap: wrap;
      width: 100%;
    }
  
    .card-1 {
      border-radius: 0;
    }
  
    .card-2 {
      border-radius: 0;
    }
  
    .card-3 {
      border-radius: 0;
    }
  
    .cards .card {
      margin-bottom: 20px;
    }
  }

.attribution{
    position: absolute;
    bottom: 10px;
}



